@charset "UTF-8";

body{
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #105f94;
}

h1#principal {
    text-align: center;
    background-color: #0390ee;
    color: white;
}

h2 {
    color: #587e99;
}

.basico {
    color: #80ca6d;
}

.intermediario {
    color: #cac46d;
}

.avancado {
    color: #ca6d6d;
}

.destaque {
    background-color: rgba(228, 228, 36, 0.5);
}